#pragma once

#include <cstdint>
#include "meta/meta.hpp"
#include "hal/option.hpp"
#include "hal/{{ namespace }}/tags.hpp"

namespace hal::{{ namespace }}::options {

{% for option in options %}
{% if option.kind == "value" %}
template <{{ option.type }} Value>
struct {{ option.name }} : Option<tags::{{ option.tag }}> {
  static constexpr {{ option.type }} value = Value;
};
{% endif %}
{% if option.kind == "enum" %}
namespace {{ option.name }} {
{% for value in option.option_values %}
{% if value is string %}
struct {{ value }} : Option<tags::{{ option.tag }}> {
{% else %}
struct {{ value.name }} : Option<tags::{{ option.tag }}> {
  using allowed_options = meta::mp_list<
{% for allowed in value.allowed_options %}
        tags::{{ allowed }}{{ "," if not loop.last }}
{% endfor %}
  >;
{% endif %}
};
{% endfor %}
}
{% endif %}
{% if option.kind == "varargs" %}
template <class... Args>
struct {{ option.name }} : Option<tags::{{ option.tag }}> {
  using value = meta::mp_list<Args...>;
};
{% endif %}
{% if option.kind == "bool" %}
struct {{ option.name }} : Option<tags::{{ option.tag }}> {
};
{% endif %}
{% endfor %}

}
